@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global tweaks to help with pixel-matching */
body {
  @apply font-sans text-[16px] text-brandDark antialiased;
}

/* Utility for the centered content width */
.container-page {
  @apply mx-auto px-4 md:px-6 lg:px-0 max-w-content;
}